*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    text-align: center;
}

.contador{
    background-color: #ff0000;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 15rem;
    width: 15rem;
    border: 5px solid #000000;
    border-radius: 50%;
    justify-content: space-evenly;
    align-items: center;
}

.contador input{
    margin-top: 2rem;
    height: 2rem;
    width: 4rem;
}

.contador input[type="text"]{
    text-align: center;
    background-color: #525151;
    color: #ffffff;
}